PORT=3400
HOSTNAME="127.0.0.1"

### EMAIL SETTINGS
EMAIL_SERVICE=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_IS_SECURE=false
EMAIL_USER="theoafactor@gmail.com"
EMAIL_PASSWORD="rgaskywoqnsjryvg"